body {
    background-image:url('kazuha1.jpg') ;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat:no-repeat ;
}
#a {
    text-align: center;
}
header{

}
img {
    border: 10px solid transparent sandybrown red;
    border-color: aquamarine ;
    width: 400px;
    height: 400px;
    image-orientation: inherit;
    border-image-slice: inherit;
    border-radius: 40px;
    
}
.box {
    width: 500px;
    height: 850px;
    border: 10px solid rgb(182, 181, 181);
    box-shadow: 20px;
}
.box {
    background-image: linear-gradient(to right bottom, red, rgb(253, 220, 70) );
    padding: 10px;
    border-radius: 80px;
}
.boxchild{
    width: 100%;
    height: 100%;
    border-radius: inherit;

}
.n{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}
h3 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.button::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 2px;
    background-color: chocolate;
    z-index: -1;
    transition: height 0.5s linear, width 0.5s ease-in-out 0.5s;
}
.button {
    display: inline-block;
    padding: 15px 30px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
}
.button:hover::before{
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}
#a{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.b{
    width: 150px;
    height: 100px;
}
.i {
    text-align: right;
}
.one {
    position: relative;
    width: 24px;
    height: 24px;
    top: 663px;
    left: 347px;
}
.two {
    position: relative;
    height: 24px;
    width: 24px;
    top: 642px;
    left: 321px;
}
.three{
    position: relative;
    height: 24px;
    width: 24px;
    top: 620px;
    left: 292px;
}
.four{
    position: relative;
    height: 56px;
    width: 72px;
    top: 69px;
    left: 131px;
}
.six{
    position:relative;
    height: 55px;
    width: 91px;
    top: 384px;
    right: 233px;
    
}